<h2>Welcome to Prime Number Checker : </h2>

<form id="form1">
    <label for="primenumber">
        Enter a Number :
    </label>
    <input required id="inputvalue" type="number" name="num" placeholder="Enter Number">

    <button type="submit" form="form1" value="Submit" id='butt'>Check</button>
</form>
<ol id="attempts" data-filter="true"></ol>

<footer id="foo">
    <label>Name: Yash Navadiya</label>
    <br><label>CWID : 10455328</label>
</footer>